.flooter{
    background-color:  #D2B312;
}
.footermain{
    display: flex;
}
.footer1{
    text-align: center;
    width: 58%;
}
.footer1 h1{
    margin-top: 100px;
    font-size: 40px;
}
.footer2 img{
    margin-top: 50px;
    height: 400px;
    margin-left: 50px;
}
.company{
    display: flex;
}
.download img{
    height: 100px;
    margin-left: 30px;
}
.motoImage{
    border-radius: 8px;
}
.line{
    margin-top: 20px;
    border: 2px solid black;
}
.socialMedia .icons{
 
    font-size: 40px;
    margin-left: 60px;
}
