.mainThird{
    
    margin-left: 30;
}
.thirdContent{
  
   width: 40%;
}
.textContent{
    margin-top: 60px;
 
}
.imageThird{
    height: 500px;
    margin-top: 80px;
    margin-left: 30px;
}
.flexContent{
    display: flex;
}

.thirdContent p{
    font-size: 24px;
}
.placideImage{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.placideContent{
    display: flex;
    align-items: center;
}
.italicontent{
    font-style: italic;
}
.flooter{
background-color: #D2B312;
}
  
  